body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background: #dfe2e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    box-shadow: 10px 10px 25px -15px #5555559a;
    gap: 30px;
}
label{
    display: none;
}
.income_area{
    margin-top: 100px;
}
h1{
    color: #555;
}
input{
    width: 280px;
    height: 40px;
    text-indent: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .04);
    border-radius: 6px;
    font-size: 17px;
}
.btns{
    display: flex;
    gap: 40px;
}
button{
    width: 120px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 30px;
    background: #6d5fb4a3;
    box-shadow: 2px 2px 10px -5px #55555567;
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    transition: .2s;
    cursor: pointer;
}
button:hover{
    scale: 1.07;
}
#cancel-btn{
    border: 1px solid #6d5fb482;
    background: #fff;
    color: #6d5fb4a1;
}