body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6d5fb41a;
}
.setting_page{
    width: 1340px;
    height: 630px;
    background: #e3e2ef00;
    position: absolute;
    border-radius: 10px;
    display: flex;
    box-shadow: 10px 10px 15px -20px #555, -10px -10px 15px -20px #555;
    margin-top: -10px;
}
/* navigation start*/
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 98vh;
    width: 230px;
    background: #6d5fb48e;
    position: absolute;
    box-shadow: 3px 0px 15px -4px #6d5fb4;
    border-radius: 10px 0 0 10px;
}
.logo_top{
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-variation-settings:"wdth" 100;
  font-size: 30px;
  position: relative;
  top: -20px;
  left: 30px;
  color: #fff;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 13px;
    margin-left: 15px;
    width: 200px;
    border-radius: 5px;
}
.nav_items{
    margin-top: 30px;
}
nav a:hover{
    background: #ffffff11;
}
nav a:nth-child(8) p{
    margin-left: 7px;
}
nav a span{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #ffffff3b;
    text-align: center;
}
nav .notification_red{
    background: #ff4b4b;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-top: -10px;
    position: relative;
    top: -8px;
    left: 6px;
}
/*Navigation End */
.section_main{
    width: 80%;
    height: 100%;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}
.section_main .txt_1{
    font-size: 30px;
    font-weight: 700;
    color: #333;
}
.dark_light_mood{
    display: flex;
    gap: 10px;
    color: #333;
    margin-top: 60px;
    margin-left: 20px;
    width: 130px;
}
.dark_light_mood i{
    font-size: 30px;
}
.dark_light_mood p{
    margin-top: 7px;
}
.show_time_left{
    display: flex;
    gap: 10px;
    color: #333;
    margin-top: 10px;
    margin-left: 20px;
}
.show_time_left i{
    font-size: 30px;
}
.show_time_left p{
    margin-top: 7px;
}
.language{
    display: flex;
    gap: 10px;
    color: #333;
    margin-top: 10px;
    margin-left: 20px;
}
.language i{
    font-size: 30px;
    color: #555;
}
.language p{
    margin-top: 7px;
    text-decoration: line-through;
    color: #555;
}
.membership-container{
    margin-top: 0px;
    width: 100%;
    height: auto;
    /* background: red; */
}
.membership-container {
    display: flex;
    justify-content: space-between;
}
.membership-box {
    /* border: 1px solid #ddd; */
    padding: 15px;
    width: 29.5%;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
    align-items: center;
    display: flex;
    flex-direction: column;
}
input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}
input{
    border: 1px solid #33333367;
    background: transparent;
    border-radius: 7px;
    outline: none;
    color: #333;
}
button{
    margin: 10px auto;
    width: 300px ;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size:18px;
    background: #333;
    color: #fff;
}
h3{
    color: #333;
}
.attendance_linker{
    position: absolute;
    top: 20px;
    right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 180px;
}
.attendance_linker a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #333;
    position: relative;
}
.attendance_linker a img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 1px solid #6d5fb4;
}
.attendance_linker p{
    position: absolute;
    width: 100%;
    left: 200px;
    text-decoration: underline;
}
@media (max-width:768px) {
    body{
    align-items: start;
    justify-content: start;
    background: #e3e2ef00;
}
.main-container{
    border: 1px solid #00000027;
}
}